<!DOCTYPE html>
<html>
  <head>
    <title>BlackboardRadioTwitterDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <%= link_to 'Blackboard Radio Twitter Demo', root_path, class: "navbar-brand" %>

      <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item float-left">
            <%= link_to 'New Tweet', 'posts/new', class: "button is-info is-inverted" %>
          </li>
        </ul>
        <% if logged_in? %>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= current_user.username %>
            </li>
            <li class="nav-item">
              <%= link_to "Logout", 'logout', class:"btn btn-outline-success my-2 my-sm-0" %>
            </li>
        <% else %>
        <p class="control">
          <%= link_to 'Login', 'login', class: "btn is-info" %>
        </p>
        <p class="control">
          <%= link_to 'Sign Up', '/users/new', class: "btn is-info" %>
        </p>
        <% end %>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
